.profile-container {
    width: 95%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow:  0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container .content img {
    width: 60%;
    max-width: 380px;
    display: flex;
    padding: 20px;
}

.profile-container .content section {
    width: 100%;
    max-width: 380px;
}

.profile-container .content section h1 {
    margin-left: 15%;
    font-size: 32px;
}

.profile-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.profile-container .content ul {
    width: 100%;
    max-width: 450px;
} 

.profile-container .content ul li,
.profile-container .content form textarea {
    margin-top: 8px;
    list-style: none ;
    font-size: 1rem;
}

.profile-container .content ul li strong {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
}

@media (max-width: 760px) {
    .profile-container .content {
        display: block;
    }
    .profile-container .content img {
        display: none;
    }
}

@media (max-width: 528px) {
    .profile-container .content {
        padding: 0;
    }
}
